<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/assets/favicon.ico" rel="shortcut icon">
    <link id="darkOverride" href="" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
